/*body is parent element of boxes*/
/**/
.body{
  display:flex;
  border: 4px solid rgb(255, 94, 0);
  height: 500px;

  /*display items clumn and rever order*/
  flex-direction: column-reverse;
  /*move elements horizantaly*/
  justify-content: center;
  /*move elements veriticaly*/
  align-items: center;
  /*add gap*/
  gap: 10px;

}

.box1,.box2,.box3,.box4{
     width: 50px;
     height: 50px;
     background-color: brown;
     border:2px solid black;

     /*centure number inside the box*/
     display: flex;
     justify-content: center;
     align-items: center;  
}
.box1{
  /*when its come to smaller screen size box1 will not change size*/
  flex-shrink: 0;
  /*this is use for fiting elements to parent */
  flex-grow: 1;
}
.box2{
  margin-right: auto;
}